
* {
    font-family: Product Sans, Arial;
}
header {
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    color: rgb(82, 80, 80);

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline;
}

.nav-bar-left {
    display: block;
    float: left;
    padding: 8px;
}

.nav-bar-right {
    display: block;
    float: right;
    padding: 12px;

}



.logo {
    display: grid;
    justify-content: space-around;
    max-width: 100%;

}

.search-bar {
    display: flex;
    border-radius: 50%;
}

main {
    max-width: 100%;
    justify-content: center;
    padding: 70px;
    padding-bottom: 30%;
}

footer {
    background-color: #f2f2f2;

}